* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #ffffff;
    color: #000000;
}

.main {
    background-color: #ffffff;
}

.slider {
    background-color: #eeeeee;
    width: 100%;
}

.slider-container {
    background-color: #eeeeee;
    margin-bottom: 80px;
    position: relative;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-header {
    background-color: #eeeeee;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.main-header-logo {
    width: 160px;
    height: 65px;
}

.main-header-logo img:active {
    opacity: 0.3;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-nav-list {
    display: flex;
    flex-direction: row;
    width: 440px;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 80px;
}

.main-nav-item {
    text-align: center;
    list-style: none;
}

.main-nav-item a {
    text-decoration: none;
    color: #000000;
}

.main-nav-item:hover a {
    color: #fb565a;
}

.main-nav-user-item:hover a {
    color: #fb565a;
}

.main-nav-item a:active {
    color: #a6a6a6;
}

.main-nav-item-active {
    border-bottom: 2px solid #fb565a;
}

.main-nav-user-list {
    list-style: none;
    text-align: center;
    color: #000000;
    width: 115px;
    position: relative;
}

.main-nav-user-list a {
    text-decoration: none;
    color: #000000;
}

.main-nav-user-item:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(/img/cart-icon.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 6px;
    left: -20px;
}

.slider-block {
    display: flex;
    justify-content: space-between;
}

.slider-block .button {
    padding: 19px 54px;
}

.button:hover {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
    color: #e37376;
    box-shadow: inset 0 3px 3px #c13135;
}

.form-button[type='submit']:hover {
    background-color: #dfdfdf;
    cursor: pointer;
}

.form-button[type='submit']:active {
    box-shadow: inset 0 3px 3px #bfbfbf;

}


.slider-title {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.slides-switches {
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 300px;
    left: 50%;
}

.slide-btn {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    border: 0;
    margin-left: 17px;

}

.slider h1 {
    font-size: 55px;
    line-height: 55px;
}

.slider p {
    line-height: 24px;
}

.slider-desc {
    width: 380px;
}

.button {
    text-align: center;
    background-color: #fb565a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
    line-height: 18px;
    font-size: 16px;
    font-weight: medium;
    font-weight: 500;
}

.services {
    margin-bottom: 65px;
}

.services-list h3 {
    line-height: 30px;
}

.services-list {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services-title {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #000000;
}

.services-text {
    color: #283136;
    margin-bottom: 45px;
}

.services-button {
    height: 50px;
    width: 160px;
}

.services-item a {
    text-decoration: none;
}

.slider-text {
    margin-bottom: 55px;
    color: #283136;
}

.green-button {
    background-color: #00ca74;
}

.green-button:hover {
    background-color: #00bc6c;
}

.green-button:active {
    background-color: #00aa62;
    color: #4dc491;
    box-shadow: inset 0 3px 3px #009958;
}

.yellow-button {
    background-color: #efc849;
}

.yellow-button:hover {
    background-color: #eab534;
}

.yellow-button:active {
    background-color: #e5a722;
    color: #ecbe5c;
    box-shadow: inset 0 3px 3px #ce961f;
}

.red-button {
    background-color: #fb565a;
}

.button-services {
    padding: 15px 40px;
    text-transform: uppercase;
}

hr {
    border: 2px solid #eeeeee;
    margin-bottom: 80px;
}

.hr-about-us {
    margin-bottom: 40px;
}

.index-column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.about-us {
    width: 660px;
    padding: 0 20px;
}

.about-us h2 {
    font-size: 45px;
    line-height: 45px;
}

.about-us-title {
    padding-bottom: 27px;
    padding-top: 50px;
}

.about-us-text {
    padding-bottom: 37px;
    color: #283136;
}

.about-us-list {
    list-style: none;
    color: #283136;
}

.about-us-item {
    margin-bottom: 25px;
    position: relative;
    margin-left: 36px;
}

.about-us-item:before {
    content: "";
    width: 25px;
    height: 2px;
    background: #fb565a;
    display: inline-block;
    position: absolute;
    top: 11px;
    left: -36px;
}

.about-us b {
    display: inline-block;
    margin-bottom: 23px;
}

.nerds-logo {
    margin-bottom: 35px;
}

.statistics {
    width: 380px;
    padding: 0 20px;
}



.statistics-table tr {
    font-size: 16px;
    line-height: 18px;
    color: #283136;
}

.statistics-table tr:first-child {
    width: 360px;
}

.statistics-table th {
    font-size: 45px;
    line-height: 45px;
    padding-bottom: 15px;
    color: #000000;
}

.statistics b {
    display: inline-block;
    margin-bottom: 45px;
    margin-left: 15px;
}

.partners {
    margin-bottom: 45px;
}

.partners-item img {
    opacity: 0.2;
}

.partners-item img:hover {
    opacity: 1;
}

..partners-item img:active {
    opacity: 0.2;
}

.partners-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.map {
    position: relative;
    margin-bottom: 70px;
}

.map h2 {
    font-size: 16px;
    line-height: 30px;
}

.map p {
    font-size: 16px;
    line-height: 18px;
}

.map-address a {
    font-size: 16px;
    line-height: 18px;
    padding: 16px 45px;
    background-color: #fb565a;
    font-weight: medium;
}

.map img {
    width: 100%;
}

.map-address {
    width: 319px;
    height: 308px;
    position: absolute;
    background-color: #ffffff;
    left: 96px;
    top: 55px;
}

.map-address span {
    display: block;
}

.address-title {
    margin-bottom: 27px;
}

.address-text {
    margin-bottom: 17px;
    color: #666666;
}

.address-phone {
    margin-bottom: 50px;
    color: #666666;
}

.map-address-container {
    padding: 50px;
}

.map-address-container h3 {
    line-height: 30px;
    font-size: 18px;
}

.map-address-container p {
    line-height: 18px;
    font-size: 16px;
}

.main-footer {
    display: flex;
    padding-bottom: 70px;
}

.social-list {
    list-style: none;
    width: 260px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.social-list svg {
    display: flex;
    vertical-align: middle;
}

.offer {
    width: 560px;
    padding: 0 20px;
    margin-left: 100px;
}


.offer b {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    display: inline-block;
    margin-bottom: 6px;
}

.offer p {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.write-us-user-name,
.write-us-user-email,
.write-us-user-message {
    border: 2px solid #d7dcde;
    font-size: 16px;
    line-height: 18px;
    border-radius: 3px;
}

.social-item a {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background-color: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-item a:hover {
    background-color: #e74246;
}

.social-item:active svg {
    opacity: 0.2;
}

.social-item:active a {
    background-color: #d7373b;
}

.catalog-flexbox {
    display: flex;
    justify-content: space-between;
}


.catalog {
    width: 760px;
    margin-bottom: 27px;
}

.catalog-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-item {
    width: 360px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    height: 613px;
}

.page-title-block {
    background-color: #eeeeee;
    padding-bottom: 110px;
    margin-bottom: 60px;
}

.inner-page h1 {
    margin: 0;
    padding: 0;
    line-height: 55px;
    font-size: 55px;
    font-weight: 500;
    width: 760px;
    margin: 0 auto;
}

.filters form {
    font-size: 16px;
    line-height: 20px;
}

fieldset {
    border: 0px;
    padding: 0;
}

legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 13px;
}

.legend-price {
    margin-bottom: 48px;
}

.input-range {
    background-color: #eeeeee;
    padding: 27px 65px;
}

input[type="range"] {
    cursor: pointer;
    height: 22px;
    width: 220px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: green;
    border: 4px solid #a6a6a6;
}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}

.radio + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 4px solid #a6a6a6;
    border-radius: 50%;
    background: #FFF;
}

.radio:hover + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 4px solid #4d4d4d;
    border-radius: 50%;
    background: #FFF;
}

.radio:disabled + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 4px solid #ededed;
    border-radius: 50%;
    background: #FFF;
}

.radio:checked + label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #a6a6a6;
    transition: .2s;
}

.radio:hover:checked + label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #4d4d4d;
    transition: .2s;
}

.radio:disabled:checked + label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #ededed;
    transition: .2s;
}

fieldset > p {
    margin-bottom: 15px;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}

.checkbox + label:before {
    content: '';
    background-image: url(/img/checkbox-off.png);
    position: absolute;
    top: -4px;
    left: 0;
    width: 23px;
    height: 23px;
    transition: .2s;
}

.checkbox:hover + label:before {
    content: '';
    background-image: url(/img/checkbox-off-hover.svg);
    position: absolute;
    top: -4px;
    left: 0;
    width: 23px;
    height: 23px;
    transition: .2s;
}

.checkbox:disabled + label:before {
    content: '';
    background-image: url(/img/checkbox-off.svg);
    position: absolute;
    top: -4px;
    left: 0;
    width: 23px;
    height: 23px;
    transition: .2s;
    opacity: 0.2;
}

.checkbox:disabled + label {
    color: #d2d3d3;
}

.checkbox:checked + label:after {
    content: '';
    background-image: url(/img/checkbox-on.png);
    position: absolute;
    top: -4px;
    left: 0;
    width: 27px;
    height: 23px;
    transition: .2s;
}

.checkbox:checked:hover + label:after {
    content: '';
    background-image: url(/img/checkbox-on-hover.svg);
    position: absolute;
    top: -4px;
    left: 0;
    width: 27px;
    height: 23px;
    transition: .2s;
}

.checkbox:checked:disabled + label:after {
    content: '';
    background-image: url(/img/checkbox-on-hover.svg);
    position: absolute;
    top: -4px;
    left: 0;
    width: 27px;
    height: 23px;
    transition: .2s;
    opacity: 0.2;
}

.checkbox:checked:disabled + label {
    color: #d2d3d3;
}

.filters-form .button {
    background-color: #eeeeee;
    color: #000;
    padding: 16px 90px;
    border: 0;
}

.features {
    margin-bottom: 33px;
}

.catalog-item {
    position: relative;
    margin-bottom: 33px;
}

.catalog-item img {
    margin-top: -10px;
}

.catalog-item a {
    color: #000000;
    text-decoration: none;
}

.catalog-item a h3 {
    font-size: 18px;
    line-height: 30px;
}

.hover-catalog {
    position: absolute;
    background-color: #eeeeee;
    width: 360px;
    height: 231px;
    top: 382px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    opacity: 0;
}

.hover-catalog .button {
    width: 200px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-weight: 500;
    padding: 16px 0;
}

.hover-catalog h3 {
    margin-bottom: 25px;
    text-align: center;
}

.hover-catalog p {
    margin-bottom: 25px;
    text-align: center;
    width: 240px;
}

.catalog-item:hover {
    box-shadow: 0 0 13px rgba(0, 1, 1, 0.25);
}

.catalog-item:hover path {
    fill: #e9e9e9;
}

.catalog-item:hover .hover-catalog {
    opacity: 1;
}

.pagination-list {
    font-size: 16px;
    line-height: 18px;
    list-style: none;
    color: #000;
    width: 460px;
    display: flex;
    justify-content: space-between;
    margin-left: 389px;
    margin-bottom: 60px;
}

.pagination-list li {
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
    border-radius: 3px;
    margin-left: 11px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.pagination-list li:hover {
    background-color: #dfdfdf;
}

.pagination-list li:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 3px #bfbfbf;
}

.pagination-list li:active a {
    color: #959595;
}

.pagination-list .active-pagination-item {
    background-color: #fff;
    width: 44px;
    height: 44px;
    border: 3px solid #eeeeee;
}

.pagination-list .active-pagination-item:hover {
    background-color: #fff;
}

.pagination-list a {
    color: #000;
    text-decoration: none;
}

.pagination-list .pagination-item-next {
    width: 260px;
}

.riterite-us h2 {
    font-size: 45px;
    line-height: 45px;
}

.modal-write-us b {
    font-size: 16px;
    line-height: 18px;
}

.modal-write-us {
    z-index: 100;
    width: 760px;
    left: 50%;
    bottom: 180px;
    margin-left: -480px;
    padding: 65px 100px 85px 100px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .75);
    background-color: #ffffff;
}

.modal-write-us .button-modal {
    border: 0;
    width: 219px;
    height: 50px;
}

.modal-write-us h2 {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 45px;
}

.modal-flex {
    display: flex;
    width: 760px;
    justify-content: space-between;
    margin-bottom: 35px;
}

.modal-flex p {
    margin-right: 40px;
}

.modal-write-us label {
    display: block;
    margin-bottom: 10px;
}

.modal-textarea {
    margin-bottom: 47px;
}

.modal-write-us textarea {
    font: inherit;
    margin: 0;
    padding-top: 10px;
    height: 104px;
    width: 742px;
    padding-left: 14px;
}

.modal-write-us input {
    font: inherit;
    padding: 11px 0;
    padding-left: 14px;
    width: 342px;
}

.modal {
    position: absolute;
}

.modal-close {
    width: 21px;
    height: 21px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 78px;
    right: 90px;
    background-color: transparent;
}

.modal-close::before,
.modal-close::after {
    content: "";
    width: 19px;
    height: 3px;
    right: 2px;
    position: absolute;
    background-color: #fecccd;
    opacity: 0.3;
}


.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal {
    display: none;
}

@keyframes bounce {
    0% {
        transform: translateX(-2000px);
    }

    70% {
        transform: translateX(30px);
    }

    90% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.modal-show {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}
